---
---

@import "{{ site.theme }}";

#banner {
    display: none;
}

header {
    padding: 15px;
    min-height: 0px;
}

header h1 {
    font-size: 24px;
}

section {
    margin-top: 90px;
}

nav {
    top: 100px;
}